.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0c782b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */
.home-container {
  background-color: #009e22; /* Light grey background */
  padding: 50px 0; /* Top and bottom padding */
  min-height: 50vh; /* Full height of the viewport */
  margin-top: 20px;
  margin-bottom: 20px;
}

.home-title {
  color: #ffffff; /* Dark grey color */
  font-size: 3rem; /* Larger font size */
}

.home-lead {
  color: #ffffff; /* Grey color */
  font-size: 1.25rem; /* Larger font size */
}

